<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ruby On Rails</title>
</head>
<body xml:lang="pl">
<div>
<form action="pl.html" method="get">
<div>
Input your name:<br />
<input type="text" name="text1" /><br />
<input type="submit" value="Send!" /><br />
</div>
</form>
</div>

<%= form_tag("/search", :method => "get") do %>
<%= text_area_tag(:message, "Hi, nice site", :size => "24x6") %>
<%= password_field_tag(:password) %>
<%= hidden_field_tag(:parent_id, "5") %>
<%= search_field(:user, :name) %>
<%= telephone_field(:user, :phone) %>
<%= url_field(:user, :homepage) %>
<%= email_field(:user, :address) %>
<% end %>

<%= form_tag :action => 'update', :id => @some_object %>

<%= form_tag( { :action => :save, }, { :method => :post }) %>

</body>
</html>
